body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("assetspublic/backgroundlogin.png") no-repeat center center fixed;
    background-size: cover;
  }
  
  .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background-color: white;
    border-radius: 30px;
    width: 400px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .login-header {
    background-color: #6c4bb6;
    padding: 30px 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: -40px -40px 30px;
  }
  
  .logo {
    height: 40px;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }
  
  .login-form input {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 2px solid #ccc;
    font-size: 14px;
  }
  
  .login-form button {
    background-color: #6b5b95;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #6b5b95;
  }
  
  .erro {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  