<div class="horarios-container">
  <h1>Horários</h1>
  
  <div class="horarios-grid">
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=08:00" class="horario-link">08:00</a>
    </div>
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=08:30" class="horario-link">08:30</a>
    </div>
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=09:00" class="horario-link">09:00</a>
    </div>
    
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=09:30" class="horario-link">09:30</a>
    </div>
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=10:00" class="horario-link">10:00</a>
    </div>
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=10:30" class="horario-link">10:30</a>
    </div>
    
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=11:00" class="horario-link">11:00</a>
    </div>
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=11:30" class="horario-link">11:30</a>
    </div>
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=12:00" class="horario-link">12:00</a>
    </div>
    
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=12:30" class="horario-link">12:30</a>
    </div>
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=13:00" class="horario-link">13:00</a>
    </div>
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=13:30" class="horario-link">13:30</a>
    </div>
    
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=14:00" class="horario-link">14:00</a>
    </div>
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=14:30" class="horario-link">14:30</a>
    </div>
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=15:00" class="horario-link">15:00</a>
    </div>
    
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=15:30" class="horario-link">15:30</a>
    </div>
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=16:00" class="horario-link">16:00</a>
    </div>
    <div class="horario-item">
      <a href="/salas-disponiveis?horario=16:30" class="horario-link">16:30</a>
    </div>
  </div>
</div>

