<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login - Inteli</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <div class="login-header">
        <img src="/assetspublic/logointeli.png" alt="Logo Inteli" class="logo" />
      </div>
      <form action="/user/login" method="POST" class="login-form">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="exemplo@sou.inteli.edu.br" required />
        
        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha" placeholder="********" required />
        
        <% if (typeof error !== 'undefined') { %>
          <p class="erro"><%= error %></p>
        <% } %>

        <button type="submit">Confirmar</button>
      </form>
    </div>
  </div
